<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Toyota Dealer Search">
    <test name="Toyota Smoke Test">
        <classes>
            <class name="com.projectname.test.TestToyota" />
        </classes>
    </test>
</suite>

